.whole {
  height: 100%;
  border: 1px red solid;
  text-align: center;
}

.banner {
  display: flex;
  flex-direction: flex-start;
  justify-content: center;
  font-size: 5vw;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.input_box {
  width: 300px;
}

.inputs {

  width: 10%
}