.whole {
  /* height: auto; */
  border: 1px red solid;
  text-align: center;
}

.banner {
  display: flex;
  flex-direction: flex-start;
  justify-content: center;
  font-size: 10vw;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin: 10px 30px
}

.input_box {
  margin: 10px 0px;
  width: 300px;
}

.login_button {
  text-align: center;
  width: 100px;
}